/*HOME SECTION*/

.wrap {
	overflow: hidden;
}

.container {
	max-width: 1130px;
	margin: auto;
	font-family: OpenSans Regular;
	font-size: 14px;
	position: relative;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.waves {
	max-width: 81px;
}

section {
	height: 700px;
}

button {
	font-family: Raleway Regular;
}

section.home {
	background: url('../img/background-image-copy.jpg');
	max-width: 100%;
}

.home_content {
	border: 2px solid white;
	margin-top: 120px;
}

.home_menu {
	margin: -60px auto 80px;
	
}

.home_logo {
	font-family: Bringin;
	color: #56c7ff;
	padding: 0 50px 0 0;
    font-size: 29px;
}

span {
	color: #95a5ad;
}

.menu-item {
	display: inline-block;
	font-family: OpenSans Bold;
	font-size: 12px;
	padding: 10px 15px;
	text-transform: uppercase;
	color: #9daeb6;
}

.menu-item > a:hover {
	border-bottom: 2px solid #36aeea;
	color: #9daeb6;

}

.menu-item > a:visited {
	color: #9daeb6;

}

.menu-item > a:active {
	color: #9daeb6;
}

h4 {
	float: left;
}

.call {
	position: absolute;
	right: 0;
	top: -5px;
	width: 153px;
	height: 46px;
	border: 3px solid #36aeea;
	border-radius: 4px;
	background-color: transparent;
	color: #36aeea;
	text-transform: uppercase;
}

.call:active {
	border: 3px solid #446CB3;
}

.menu-button {
	color: #36aeea;
	text-transform: uppercase;
}

.menu-button:active {
	color: #446CB3;
}


.home_title {
	width: 50%;
	text-align: left;
	margin: 30px;
    padding: 30px;
}

.title {
	font-size: 50px;
    color: white;
    text-transform: uppercase;
    font-family: OpenSans Bold;
}

.logo-home {
	font-size: 66px;
    margin: -25px 0 0;
    padding: 5px;
	
}

.logo-text {
	font-size: 18px;
    color: white;
    opacity: 0.8;
    margin: 10px 0;
}

.home_order {
max-width: 253px;
height: 60px;
background-color: #36aeea;
border-radius: 4px;
margin: 30px 0;

}

.order-button {
	max-width: 103px;
	height: 10px;
	color: white;
	font-family: Raleway Regular;
	font-size: 14px;
	font-weight: 700;
	line-height: 44px;
	text-transform: uppercase;
}


@media screen and (max-width: 992px) {
	.container {
	 max-width: 992px;
	}

	.home_menu {
		margin-top: -100px 0 80px;
	}

	.menu-item {
		font-size: 10px;
		padding: 5px 10px;
	}

	.order-button {
		max-width: 80px;
		height: 8px;
		font-size: 12px;
		line-height: 40px;
	}

	.call {
		max-width: 140px;
	    height: 36px;
	}

}


/*ABOUT SECTION*/

.about {
	background-color: #f6f4f4;
	background: url('../pics/about-background.png') no-repeat center;
	margin-top: -20px;
}


.about_item {
	display: inline-block;
	width: 33%;
	
}

.waves-about .waves {
	position: absolute;
	top: 150px;
}

.about_title {
	font-size: 20px;
	color: #2c2e37;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	font-family: OpenSans Bold;
	line-height: 43px;
	margin: 170px 70px 0 0;
}

.about_text {
	text-align: left;
	font-size: 14px;
	color: #949494;
	line-height: 26px;
	margin: 30px 0;
	
}

.read-more {
	width: 130px;
	height: 40px;
	background-color: #36aeea;
	border-radius: 4px;
	color: white;
	text-transform: uppercase;
	font-family: OpenSans Bold;
	font-size: 12px;
	
}	

.img1 {	
	max-width: 350px;
	opacity: 1;
	position: absolute;
	right: 320px;
	top: 250px;
	z-index: 200;
}


.img2 {

	max-width: 806px;
	opacity: 1;
	z-index: 100;
	position: absolute;
	top: -40px;
	right: -240px;

}


/*JOURNAL SECTION*/

.journal {
	height: 1000px;
}

.waves-journal .waves{
	position: absolute;
	top: 50px;
	left: 522px;	
}


.journal_title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #2c2e37;
	font-family: OpenSans Bold;
	line-height: 43px;
	padding: 80px;
}

.journal_list {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	height: 750px;
	margin: auto;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
	
}

.journal_item {
	display: inline-block;
	max-width: 374px;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
}

.item_title {
	color: #16b5ef;
	font-size: 12px;
	text-transform: uppercase;
	font-family: OpenSans Bold;
	padding: 30px;
		
}

.item_head {
	font-family: OpenSans Bold;
	font-size: 17px;
	color: #212121;
	text-transform: uppercase;
	text-align: center;
	padding: 30px;
}

.journal-item-text {
	color: #777;
	font-family: OpenSans Regular;
	font-size: 15px;
	text-align: center;
	line-height: 24px;
	padding: 30px;
}

.journal-number {
	font-size: 15px;
	font-style: italic;
	color: #212121;
	font-family: Times New Roman;
		
}




/*ORDER SECTION*/

section.order {
	background: url('../img/background-mount.jpg') no-repeat center;
}

.waves-order .waves {
	position: absolute;
	top: 140px;
}

.order_title {
	font-size: 20px;
	color: #2c2e37;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	font-family: OpenSans Bold;
	line-height: 43px;
	padding: 170px 70px 0 0;
	
}

.order_text {
	text-align: left;
	font-size: 14px;
	color: #949494;
	line-height: 26px;
	margin: 30px 0;
}

.order_list {
	border: none;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	background-color: #ffffff;
	max-width: 900px;
	height: 60px;
    position: relative;
	
}

.order_item {
	display: inline-block;
    padding: 0 45px 0 15px;
    position: absolute;
}



.order_item_name {
	height: 52px;
	border-right: 2px solid #ebebeb;
	top: 5px;
	
}

.order_item_phone {
	left: 270px;
    height: 52px;
    top: 5px;
   
}

.order_item_button {
	top: 0;
    right: 0;
    margin: -28px 5px;
    padding: 0;
}

.order_name > input {
	height: 50px;
}

.order_phone > input {
	height: 50px;
}

.order_item_button > button {
	height: 55px;
}


.order_note {
	color: #36aeea;
	font-family: OpenSans Regular;
	font-size: 14px;
	padding: 30px 0;
}

/*SERVICE SECTION*/

section.service {
	height: 700px;
}

.waves-service .waves {
	position: absolute;
	top: 50px;
	left: 522px;
}

.service_title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #2c2e37;
	font-family: OpenSans Bold;
	line-height: 43px;
	padding: 80px;

}

.dotted-shape {
width: 832px;
height: 119px;
border-top: 5.53px dashed #f0f3f6;
border-left: 5.53px dashed #f0f3f6;
border-right: 5.53px dashed #f0f3f6;
    position: absolute;
    left: 140px;
    top: 270px;
    z-index: 1;
}

.dotted-lines {
       width: 273px;
    height: 119px;
    border-left: 5.53px dashed #f0f3f6;
    border-right: 5.53px dashed #f0f3f6;
    position: absolute;
    left: 275px;
    top: 0px;
    z-index: 1;
}

.service_list {
	margin: 30px auto;
	
	
}

.service_item {
	float: left;
	max-width: 250px;
	text-align: center;
	margin: 15px 50px;
	
}



.service_number {
	border: 3px solid #36aeea;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	color: #36aeea;
	width: 25px;
	height: 25px;
	margin: 5px auto;
	padding: 5px;
	text-align: center;
	
}

.service-icon {
	background-color: #f0f3f6;
	width: 179px;
	height: 179px;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	margin: 80px auto;
	}

.service-item-title {
	color: #2c2e37;
	font-size: 18px;
	margin-top: 100px;
	font-style: Roboto Regular;
}


.service-text {
	margin: 150px 10px;
	font-size: 16px;
}




/*PRICE SECTION*/

section.price {
	background: url('../img/worldmap-dots.png') no-repeat center;
	height: 1000px;
}

.price-waves .waves {
	position: absolute;
	top: 50px;
	left: 522px;
}

.price_title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #2c2e37;
	font-family: OpenSans Bold;
	line-height: 43px;
	padding: 80px;
}

.price_list {
	margin: auto;
}

.price_item {
	display: inline-block;
	width: 17%;
	margin: 15px;	
}

.price_down {
	margin-top: -290px;
}







/*GALLERY SECTION*/

section.gallery {
	height: 1000px;
}

.waves-gallery .waves {
	position: absolute;
	top: 60px;
	left: 522px;
}
	
.gallery_title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #2c2e37;
	font-family: OpenSans Bold;
	line-height: 43px;
	padding: 80px;
	margin-top: 80px;
}

.gallery_list {
	margin: 40px auto;
}

.gallery-responsive-item {
	display: inline-block;
	position: relative;
}

.gallery_list > li > img {
	transition: .1s transform;
  	transform: translateZ(0);
 }

 .gallery > li:hover {
  z-index: 1;
}

.gallery > li:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.gallery_animation:before, .gallery_animation:after {
  display: table;
  content: "";
  line-height: 0;
}

.gallery_animation:after {
  clear: both;
}



.gallery-block1 {
	max-width: 263px;
	margin-right: 15px;
}

.gallery-block2 {
	max-width: 361px;
	margin-right: 15px;
}

.gallery-block3 {
	max-width: 457px;
}

.gallery-item-img1,
.gallery-item-img4 {
	max-width: 260px;
}

.gallery-item-img2,
.gallery-item-img5 {
	max-width: 355px;
}

.gallery-item-img3,
.gallery-item-img6 {
	max-width: 450px;
}

.gallery-item-img1,
.gallery-item-img2,
.gallery-item-img3 {
	margin-bottom: 20px;
}



@media screen and (max-width: 992px) {
    
    .gallery-responsive.__col-3 .gallery-responsive-item {
        width: 50%;
        margin: 10px auto;
    }

    .gallery-item-img3,
	.gallery-item-img6 {
		display: none;
	}

}


@media screen and (max-width: 768px) {
    
    .gallery-responsive.__col-3 .gallery-responsive-item {
        width: 100%;
        margin: 10px auto;
    }

     .gallery-item-img3,
	.gallery-item-img6 {
		display: none;
	}

}

@media screen and (max-width: 380px) {
	.gallery-responsive.__col-3 .gallery-responsive-item {
        width: 100%;
        margin: 10px auto;
    }

     .gallery-item-img3,
	.gallery-item-img6 {
		display: none;
	}

	.gallery-item-img2,
	.gallery-item-img5 {
		display: none;
	}
}




/*CLIENTS SECTION*/
section.clients {
	background-color: #f8f9fa;
	height: 180px; 
}

.clients_list {
	height: 180px;
	margin: auto;
}

.clients_item {
	display: inline-block;
	max-width: 90px;
    margin: 55px;
}






/*CONTACTS SECTION*/

section.reviews {
	height: 150px;
}

.waves-reviews .waves {
	position: absolute;
	top: 20px;
	left: 522px;
}

.clients_title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #2c2e37;
	font-family: OpenSans Bold;
	line-height: 43px;
	padding: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.clients-say-item {
	display: inline-block;
	width: 48%;
}

.clients-text {
	color: #adadad;
	font-size: 18px;
	font-family: OpenSans Regular;
	line-height: 33px;
	margin-bottom: 20px;
}

.clients-foto {
	max-width: 65px;
	float: left;
	margin: 0 5px;
}

.clients-say-name {
	color: #36aeea;
}

/* Contacts form */
section.contacts {
	background: url('../img/group-7-copy-2.png') no-repeat;
	height: 950px;
}

section.contacts .container {
	padding-top: 420px;
	padding-bottom: 450px;
	margin: auto;
}

.contacts_form {
	position: relative;
	margin: -50px auto;
    max-width: 514px;
    height: 496px;
    background-color: #DCDCDC;
    background: url('../pics/blur.png') no-repeat center;
    opacity: 0.99;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    box-shadow: 0 5px 51px rgba(0, 0, 0, 0.75);
  
   
    
}

.contacts-form-title {
	color: #36aeea;
	font-family: OpenSans Bold;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	
}

.contacts-form-text {
	color: #383e4a;
	font-family: OpenSans Regular;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	
}

input {
	width: 100%;
	height: 60px;
	border: 1px solid white;
	color: #ccc;
    font-family: Roboto Regular;
    font-size: 18px;
    z
}

.contacts-form-item {
	max-width: 450px;
	height: 60px;
	background-color: white;
	border: 3px solid white;
	border-radius: 4px;
	padding: 7px 5px;
	margin: 15px auto;
	

}

.home_order.contacts-button {
	margin: 15px auto;
	max-width: 450px;
	height: 60px;
}


/*FOOTER SECTION*/

footer {
	background: #3e5d66;
	height: 100px;
}

.footer_item {
	display: inline-block;
	max-width: 500px;
	margin: 20px 100px;
}

.footer-logo-box {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin: 5px;
}

.footer-text {
color: #7cbed2;
font-family: OpenSans Regular;
font-size: 18px;
}

.footer-phone {
color: #7cbed2;
font-family: Roboto Bold;
font-size: 27px;
text-align: right;
}

.footer-logo {
	max-width: 40px;
}



